<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Accueil
    </ion-title>
    <ion-buttons slot="end" style="background-color:#fdd62c; display: flex; align-items: center;">
      <img src="assets/icon/favicon.png" alt="Logo" style="width: 50px; height: 50px;" />
      <ion-title style="color: inherit;margin-left: -20px;">CiviLink</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Accueil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card color="medium">
    <ion-card-header>
      <ion-card-title>CiviLink</ion-card-title>
      <ion-card-subtitle>Votre applications de mise en relations</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Bienvenue sur CiviLink, n'hésitez-pas à naviguer entre chaque onglet pour découvrir les fonctionnalités !
    </ion-card-content>
  </ion-card>

  <ion-card color="warning">
    <ion-card-header>
      <ion-card-title>Crédit</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      ➪ Martin Frontera<br>
      ➪ Swan Beauchene<br>
      ➪ Nael Alaji
  </ion-card-content>  
  </ion-card>
</ion-content>
